<h1><%= @user.first_name + " #{@user.last_name}" %></h1>
<p><%= @user.email %></p>

<% @user.posts.each do |up| %>
	<%= up.title %>
	<%= up.url %>
<% end %>



<%= link_to "Edit User", edit_user_path %><br />
<%= link_to "Delete User", @product, :confirm => "Are you sure you want to delete this user?", :method => :delete %><br />
<%= link_to "Back", users_url %>